html,body{
    width:100%;
    height: 100%;
}
html,body,div,p{
    margin: 0;
    padding: 0;
}

.login-box {
    width: 380px;
    height: 540px;
    margin: 0 auto;
}

.login-box img {
    display: block;
    width: 270px;
    height: 270px;
    margin: 42px auto 12px;
}